body{
    background-color: cornsilk ;
}
.contenedor {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    
    background-color: cornsilk;
    
    margin: 10px;
    
  }
  
  h1 {
    
    color: #333;
    margin-left: 650px;
    margin-top: 100px;
  }
  
  ul {
    list-style-type: none;
    padding: 5px;
    width: 1000px;
    margin-left: 200px;
    border-radius: 2px;
    border: 1px solid #000000 ;
    border-bottom: 1px solid #000000;
    box-shadow: 5px 5px 0  #d6d6d6, 10px 10px 0px  #bfbfbf, 15px 15px 5px  #777575 ;
    
  }
  
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    border-bottom: 1px solid #000000;
    border-radius: 2px;
    margin-left: 10px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
  }
  
  .fa-x {
    cursor: pointer;
   visibility: hidden;
    color: #fb8383; 
  transition: color 0.3s ease-in-out; 
}
.fa-x:hover {
    color: #7c0000; 
    
  }
  .conjunto:hover .fa-x{
    visibility: visible;
  }
   
  
  .numeroPagina {
    margin-left: 210px;
    margin-top: 10px;
    color: #555353;
  }